faiss_db:
  collection_name: "document_portal"


embedding_model:
  provider: "openai"
  model_name: "models/text-embedding-004"

retriever:
  top_k: 10

llm:
  groq:
    provider: "groq"
    model_name: "qwen/qwen3-32b"
    temperature: 0
    max_output_tokens: 2048

  google:
    provider: "google"
    model_name: "gemini-2.0-flash"
    temperature: 0
    max_output_tokens: 2048

  openai:
    provider: "openai"
    model_name: "gpt-5-mini-2025-08-07"
    temperature: 0
    max_output_tokens: 2048